@import "@flowm/ui/styles";

/* Electron drag regions */
*[data-electron-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
}
*[data-electron-drag-region] * {
  -webkit-app-region: drag;
  app-region: drag;
}
*[data-electron-no-drag-region] {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
*[data-electron-no-drag-region] * {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
